- if @posts.present?
  - @posts.each do |post|
    .post_form
      .post_title
        %h1
          = post.title
      .post_content  
        = post.content
      .social_box
        = render "shared/social_form", post: post  

