- if @hash_data.present?
  - @hash_data.each_with_index do |arr, index|
    .row
      - arr.each_with_index do |post, indx|
        - i= index * 2 + indx
        = render "posts/post_form", post: post, i: i

      

