body {
  font-family: "Pt serif","Georgia","Serif";
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  line-height: 32px;
  color: #575756;
  background-color: #e9eaed;
}


h1 {
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.wrapp_content {
  // margin-top: 53px;
}
.content {
  // height: 500px !important;
}

.post_area {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  margin: 20px;
  height: 200px;
  box-shadow: 5px 5px 5px #888888; 
}

.post_form{
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  margin-bottom: 20px;  
  height: auto;
  background-color: white;
}

.post_form a {
  text-decoration: none;
}

.post_content {
  // padding: 30px;
}

.social_box {
  // margin-left: 30px;
}

.article-image {
  text-align: center;
  height: 166px;
  line-height: 166px;
  color: white;
  font-size: 16pt;

}

.article {
  padding: 15px;
}

.article_footer {
  margin-bottom: 5px;
  padding: 15px;
}

h3  a {
  color: black !important;
}

.background_0 {
  background-color: #a62800;
}

.background_1 {
  background-color: #0b7f34;
}

.background_2 {
  background-color: #f8cb64;
}

.background_3 {
  background-color: #074f68;
}

.background_4 {
  background-color: #3b3e43;
}

.background_5 {
  background-color: #67b636;
}

.background_6 {
  background-color: #2570a9;
}

.background_7 {
  background-color: #a62800;
}

.background_8 {
  background-color: #0b7f34;
}

.background_9 {
  background-color: #f8cb64;
}

.background_10 {
  background-color: #074f68;
}

.background_11 {
  background-color: #3b3e43;
}

.page {
  background-color: white;
}

.form_comment {
  height: 200px !important;
}

.button_submit {
  float: right;
}

.comments_area {
  clear: both;
  margin: 15px;
}

.post_container {
  display: inline-block;
  vertical-align: top;
  clear: both;
  padding: 0px !important;
}

.content_container {
  background: #fff;
  border: 1px solid #c4cde0;
  border-bottom-width: 2px;
  border-radius: 3px;
  padding: 10px;
}

.container {
  padding: 0px;
}

#profile_page {
  background: #fff;
}

.side_bar_left, #sub_page {
  border: 1px solid #c4cde0;
  border-bottom-width: 2px;
  border-radius: 3px;
  padding: 10px;
  min-height: 600px;
  margin: 20px;
}

.info {
  float: left;
  margin-left: 10px;
}
.avatar {
  float: left;
}

#form_login {
  width: 50%;
  height: 350px;
  background-color: #fff;
  margin: 0 auto;
}
.row {
  margin: 0px !important;
  padding: 0px !important;
}