body {
  font-family: "Pt serif","Georgia","Serif";
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  line-height: 32px;
  color: #575756;
  background-color: #e9eaed;
}


h1 {
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.wrapp_content {
  margin-top: 53px;
}
.content {
  height: 500px !important;
}

.post_area {
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  margin: 20px;
  height: 200px;
  box-shadow: 5px 5px 5px #888888; 
}

.post_form{
  width: 100%;
  border: 1px solid #C8C8C8;
  border-radius: 5px;
  margin-bottom: 20px;  
  height: auto;
  background-color: white;
}

.post_content {
  padding: 30px;
}

.social_box {
  margin-left: 30px;
}